*.cmd
*.ko
*.mod
*.mod.c
*.mod.o
*.o
*.order
*.so
*.symvers
*.py[cod]
*.sw[a-p]
.module-common.o
/debian/debhelper-build-stamp
/debian/files
/debian/sgil1ctl/
/debian/sgi-l1-usb-dkms/
/debian/*.substvars
/debian/.debhelper/
/tools/sgil1ctl
/_build/
__pycache__/
