*.cmd
*.ko
*.mod
*.mod.c
*.mod.o
*.o
*.order
*.so
*.symvers
*.py[cod]
*.sw[a-p]
.module-common.o
/debian/debhelper-build-stamp
/debian/files
/debian/sgil1ctl/
/debian/sgi-l1-usb-dkms/
/debian/*.substvars
/debian/.debhelper/
/dkms.conf
/tools/sgil1ctl
/_build/
/contrib/l2-l3-container/_work/
/contrib/l2-l3-container/downloads/
/contrib/l2-l3-container/rootfs/
/contrib/l2-l3-container/*.rpm
__pycache__/
