*.cmd
*.ko
*.mod
*.mod.c
*.mod.o
*.o
*.order
*.symvers
.module-common.o
/tools/sgil1ctl
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/sgi-l1-usb-dkms/
/debian/sgil1ctl/
/_build/
/repo.git/
